   body{
        background-position: 20px 20px, 0px 0px;
        background-size: 70px 70px, 100% 100%;
        min-height: 10vh, 100vh;
    }

    h1{    
        font-size: 20px;
        text-decoration: underline;
    }

    h2{    
        font-size: 15px;
        text-decoration: underline;
    }

    h3{
        font-size: 12px;
    }

    p{
        font-size: 10px;
    }

@media (min-width: 768px){
    body{
        background-position: 20px 20px, 0px 0px;
        background-size: 100px 100px, 100% 100%;
        min-height: 10vh, 100vh;
    }

    h1{    
        font-size: 40px;
        text-decoration: underline;
    }

    h2{    
        font-size: 20px;
        text-decoration: underline;
    }

    h3{
        font-size: 17px;
    }

    p{
        font-size: 15px;
    }

}

@media (min-width: 992px){
    body{
        background-position: 20px 20px, 0px 0px;
        background-size: 150px 150px, 100% 100%;
        min-height: 10vh, 100vh;
    }

    h1{    
        font-size: 60px;
        text-decoration: underline;
    }

    h2{    
        font-size: 30px;
        text-decoration: underline;
    }

    h3{
        font-size: 25px;
    }
    
    p{
        font-size: 20px;
    }

}

@media (min-width: 1200px){
    body{
        background-position: 20px 20px, 0px 0px;
        background-size: 200px 200px, 100% 100%;
        min-height: 10vh, 100vh;
    }

    h1{    
        font-size: 80px;
        text-decoration: underline;
    }

    h2{    
        font-size: 40px;
        text-decoration: underline;
    }

    h3{
        font-size: 35px;
    }

    p{
        font-size: 30px;
    }

}


body{
    background-image: url('../Images/GroupLogo.jpg'), url('../Images/Background.png');
    background-repeat: no-repeat;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.RequestAcessButton:hover[type="submit"] 
{
	background: rgb(255, 165, 165);
}

.RequestAcessButton[type="submit"]:active{
    background: rgb(138, 115, 255);
}


button[class="RequestAcessButton"] 
{
	background-image: url('../Images/RequestAccess1.png');
    background-repeat: no-repeat;
    background-size: 100px 40px;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 40px;
    width: 100px;
    border: none;
}

button span {
    display: none;
}

button:hover[class="RequestAcessButton"] 
{
	background-image: url('../Images/RequestAccess2.png');
    background-repeat: no-repeat;
    background-size: 100px 40px;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 40px;
    width: 100px;
    border: none;
}

button:hover span {
    display: none;
}

button[class="RequestAcessButton"]:active{
    background-image: url('../Images/RequestAccess3.png');
    background-repeat: no-repeat;
    background-size: 100px 40px;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 40px;
    width: 100px;
    border: none;
}

button:active span {
    display: none;
}

