
body { 
    font-family: sans-serif;
}

p,ul,ol { font-size: 100%;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: justify;
}
	
p {text-indent: 15px;}
	
h1 {font-size: 160%;}
	
h2 {font-size: 125%}
	
img {height: 300px;
	 }
figcaption {
    font-style: italic;	
    text-align: center;
	font-size: 90%;
}
	
	.mkbold {font-weight: bold;
			 color: rgb(27, 116, 27); }
	
	.mkunderlined {text-decoration: underline;
					color: rgb(27, 116, 27); }
	
	#hcs12 { font-weight: bold;
		color: rgb(99, 17, 95);}
	
	#can { font-weight: bold;
		color: rgb(99, 17, 95);}
	
	#buttons { font-weight: bold;
		color: rgb(99, 17, 95);  }


	body { width: 950px;
		   padding: 0px 10px 0px 10px;
		   margin: 0px auto 0px auto;
		   border: 2px solid black;}
	
	figure {
		 padding: 0px auto 0px auto;
		 border: 2px solid green;
		 border-radius: 25px;
		 }
		 
	img {height: 300px;
		 display: block;  /* Notice that img elements are inline */
		 margin: 0px auto 0px auto;
		 border: 2px solid rgb(68, 68, 177);
		 box-shadow: 10px 10px 5px gray;
		 
		 }
		 
	ul {list-style-type: square; }

	ol {list-style-type: lower-roman;}
	